/**
 * Description: Short info.
 * Version: 1.0.0
 * Last update: YYYY/MM/DD
 * Author: User Name <username@gmail.com>
 *
 * TABLE OF CONTENTS:
 *
 *  0. ELEMENT
 *    - 0.1. TYPE ELEMENT
 *    - 0.2. TYPE ELEMENT
 *  1. ELEMENT
 *    - 1.1. TYPE ELEMENT
 *    - 1.2. TYPE ELEMENT
 */

/* ==========================================================================
   0. ELEMENT
   ========================================================================== */

/* 0.1. TYPE ELEMENT
   ========================================================================== */

/* 0.2. TYPE ELEMENT
   ========================================================================== */


/* TODO:
  - USE CSSCOMB
  - POSTCSS
  - box-sizing
*/

.debug {
  border: 1px solid blue;
}

/** {
  margin: 0;
}*/

/*html {
  font-size: 16px;
}
*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  /*color: #29251f;*/
  background: #fff;
}

.card {
  border: 1px solid #ccc;
  width: 300px;
  padding: 10px;

  /*box-shadow: 0 5px 5px #ccc;*/
  box-shadow: 0 5px 5px rgba(170,170,170,0.7);
}

.card .title {
  margin: 0;
  font-size: 30px;
}

.card .picture {
  padding: 5px 0;
  /*padding: 5px 0 5px;*/
}

.card .info {
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 13px;
}

.card .info p {
  margin: 0;
}

.card .info p:first-child {
  font-style: italic;
}

.card .info .details {
  list-style: none;
  padding: 0;
}

.card .info .details span {
  font-style: normal;
  font-weight: bold;
}

.card .info .details li {
  font-style: italic;
}
